*{
	padding: 0;
	margin: 0;
}

/* 导航栏 */ 
header{
	height: 85px;
	width: 100%;
	margin: auto;
	background-color: #222222;
}
#navbarBig{
	height: 60px;
	width: 93%;
	float: right;
}

#navbarSmall{
	height: 25px;
	width: 93%;
	float: right;
	background-color: #111111;
}

#navbarBig ul, #navbarSmall ul{
	list-style: none;
}
#navbarBig ul li, #navbarSmall ul li{
	float: left;
	padding: 0 15px;
	position: relative;
}
#navbarBig ul li a, #navbarSmall ul li a{
	text-decoration: none;
}
#navbarBig ul li a{
	color: #a6a6a6;
	font-weight: bold;
	font-size: 16px;
	line-height: 60px;
}

#navbarBig ul:nth-child(2){
	float: right;
}
#navbarBig ul:nth-child(2) li img{
	height: 20px;
	width: 20px;
}


/*hover*/
#navbarBig ul li ul{
	background-color: #2e2e2e;
	width: 860px;
	height: 390px;
	display: none;
	position: absolute;
	margin-left: -15px;
	z-index: 999;
	// display: flex;
}
#filmBox2{
	width: 520px !important;
}
#navbarBig ul li ul li{
}
#navbarBig ul li:hover{
	background-color: #2e2e2e;
}
#navbarBig ul li:hover ul{
	display: block;
}
#navbarBig ul li ul li img{
	height: 195px !important;
	width: 130px !important;
}



#navbarSmall ul li a{
	color: #6e6e6e;
	font-weight: bold;
	font-size: 10px;
}
#navbarSmall ul li a:hover{
	color: #e1e1e1;
}

/* banner */ 
#banner{
	clear: both;
}
/* slider */ 
#sliderMain{
	height: 530px;
	width: 100%;
	margin: auto;
	background-color: #2f2f2f;
	overflow: hidden;
}
#sliderMain img{
	height: 100%;
	width: 100%;
}


#sliderThumbnail{
	clear: both;
	height: 350px;
	width: 100%;
	margin: auto;
	background-color: #f5f5f5;
	// display: flex;
	overflow: hidden;
}
#sliderThumbnail .thumbItem{
	width: 260px;
	height: 290px;
	background-color: #fff;
	box-shadow: 1px 1px 2px #5f5f5f;
	float: left;
	margin: 30px;
}
#sliderThumbnail .thumbItem img{
	width: 100%;
	height: auto;
}
#sliderThumbnail .thumbItem p, #sliderThumbnail .thumbItem h3{
	padding: 20px 20px 0 20px;
}


#signIn{
	height: 305px;
	width: 100%;
	margin: auto;
	background-color: #272727;
}



#emailZone{
	height: 500px;
	width: 100%;
	margin: auto;
	background-color: #272727;
}

footer{
	height: 335px;
	width: 100%;
	margin: auto;
	background-color: #272727;
}